*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    background-color: cadetblue; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#inc , #dec{
    padding: .6rem 2rem;
    border-radius: 10px;
    border: .1rem solid black;
    cursor: pointer;
}
#inc:hover , #dec:hover{
    background-color: black;
    color: white;
    transition: all .3s ease-in-out;
}