*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: clamp(14px ,1vw,18px);
}

body{
    background-color: black;
}

@mixin flexcoloum($gap :0rem){
    display: flex;
    flex-direction: column;
    gap: $gap
}
section{
    max-width: 2000px;
    align-items: center;

}

// main start here
main{
    width: 100%;
    @include flexcoloum(0rem);

    section{
        width: 100%;
        @include flexcoloum(1rem);
        align-items: stretch;
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom{
            width: 100%;
            background-color: #292922;
            @include flexcoloum(3rem);
            padding: 1.5rem;
            border-radius: 10px;

            h2{
                font-weight: 400;
                opacity: 0.8; 
            }

            .text{
                @include flexcoloum(0rem);


                h1{
                    font-weight: 400;
                    font-size: 2.2rem;
                    text-transform: uppercase;
                }
                p{
                    font-weight: 400;
                    opacity: 0.6;
                    font-size: 1rem;
                    line-height: 2rem;
                }
                span{
                    @include flexcoloum(1rem);
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    i{
                        background-color: #292929;
                        padding: 0.3rem;
                        font-size: 1.2rem;
                        border-radius: 50%;
                        border: 1px solid whitesmoke;

                    }

                    p{
                        font-size: 0.8rem;
                        font-weight: 400;
                        padding: 0.5rem;
                        color: #F2F0EB;
                    }
                }
            }
        }
    }
    

    // SECTION 2 VIEW 2


    .view2{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        align-content: center;
        justify-content: center;
        padding: 3rem;
        
    }
    .client{
        padding: 1rem;
        @include flexcoloum(1rem);
        justify-content: center;
        align-items: center;

        p{
        font-size: 1rem;
        color: #959292;
        }
        
        h1{
            font-weight: 200;
        }
    }
    .project{
        @include flexcoloum(1rem);
        justify-content: center;
        align-items: center;
         padding: 1rem;
          p{
        font-size: 1rem;
                color: #959292;

        }
        
        h1{
            font-weight: 200;
        }
    }
    .happyClients{
        @include flexcoloum(1rem);
        justify-content: center;
        align-items: center;

         padding: 1rem;
          p{
        font-size: 1rem;
                color: #959292;

        }
        
        h1{
            font-weight: 200;
        }
    }
    .follower{
        @include flexcoloum(1rem);
        justify-content: center;
        align-items: center;
         padding: 1rem;
          p{
        font-size: 1rem;
                color: #959292;

        }
        
        h1{
            font-weight: 200;
        }
    }


    // SECTION 3 VIEW 3

    .view3{
        width: 100%;
        @include flexcoloum(1rem);


        .top{
            width: 100%;
            background: url('./view3.webp');
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 1rem;
        }

        .bottom{
            .paragraphs{
                @include flexcoloum(0rem);
            
            h2{
                font-size: 3rem;
                font-weight: 400;
                line-height: 3.5rem;
                width: 90%;
                color: white;
                padding-bottom: 2rem;
            }
            p{
                font-size: 1.3rem;
                color: #959292;
                font-weight: 400;
            }
            }
        }

        .bottom>p{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.2rem;
            }

    }


    // SECTION 4 VIEW 4

    .view4{
        width: 100%;

        .top{
            width: 100%;
            background: url('./view4.webp');
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 1rem;
        }

        .bottom{
            .paragraphs{
                @include flexcoloum(0rem);
            
            h2{
                font-size: 3rem;
                font-weight: 400;
                line-height: 3.5rem;
                width: 90%;
                color: white;
                padding-bottom: 2rem;
            }
            p{
                font-size: 1.3rem;
                color: #959292;
                font-weight: 400;
            }
            }
        }

        .bottom>p{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.2rem;
            }
    }
    
    //  VIEW 5
    .view5{
        width: 100%;
        @include flexcoloum(2rem);

        .conatainer{
            width: 100%;
            @include flexcoloum(2rem);
    

            .card{
                width: 100%;
                background-color: yellowgreen;
                background: url('./card1.webp');
                aspect-ratio: 1/1;
                background-size: cover;
                border-radius: 1rem;

                .inner{
                    width: 100%;
                    height: 100%;
                    @include flexcoloum(0rem);
                    justify-content: space-between;
                    padding: 1rem;
                    
                    .icons{
                        
                        display: flex;
                        justify-content:end;
                        gap: 1rem;

                        span{
                            font-size: 1.2rem;
                            background-image: linear-gradient(rgba(0, 0, 0, 0.282),rgba(255, 255, 255, 0.451));
                            backdrop-filter: blur(0.7);
                            border-radius: 50%;
                            padding: .7rem;

                            border: .1rem solid white;
                        }
                    }

                    .bottom-text{
                        display: flex;
                        justify-content: space-between;
                        background-image: linear-gradient(rgba(0, 0, 0, 0.282),rgba(255, 255, 255, 0.451));
                        backdrop-filter: blur(0.7);

                        p{
                            font-size: 2rem;
                            padding: 1rem;
                        }
                    }


                }
            }
        }
    }

    // view 6
    .view6{
        width: 100%;

        .top{
            width: 100%;
            background: url('./view6.webp');
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 1rem;
        }
    }


    // view 7

    .view7{
        background-color: #CEBD63;
        color: black;
        @include flexcoloum(1rem);
        padding: 2rem;

        .contact{
            h1{
                font-size: 1.2rem;
                font-weight: 300;
            }
            p{
                font-size: 3.5rem;
                font-weight: 400;
                line-height: 3.7rem;
            }
        }

        
        button{
            width: fit-content;
            padding: 1rem;
            border-radius: 1rem;
            background-color: #121212;
            color: white;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
}





// media query

@media (min-width :900px){
    main{
        section{
            flex-direction: row;

            .top,
            .bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 4rem;

                h2{
                    font-size: 1rem;
                }

                .text{

                    h1{
                        font-size: 4rem;
                        font-weight: 300;
                    }
                    p{
                        font-size: 1.2rem;
                        width: 90%;
                    }
                    span{
                        padding-top: 1rem ;
                    }
                }
            }
        }

        // view2

        .view2{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            
            .client,
            .project,
            .happyClients,
            .follower{
                h1{
                   font-size: 4rem;
                   font-weight: 400;    
                }
            }
        }

        // view 3

        .view3{
            flex-direction: row-reverse;
            .top,.bottom{
                width: 50%;
            }
        }

        // view 4

        .view4{
            flex-direction: row;
            .top,.bottom{
                width: 50%;
            }
        }


        // view 5
        .view5{
            .conatainer{
                flex-direction: row;
            }
        }




        // view 7

        .view7{

        }
    }
}