*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px
}
.outer{
    width: 100%;
    height: 20px;
    background-color: rgb(175, 175, 178);
    padding: .1rem .1rem;
    border-radius: 1rem; 
    overflow: hidden;

}
.card > p{
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1rem;
}
.card > p span{
    color: blue;
    font-weight: 900;
}
.inner{
    height: 100%;
    width: 0%;
    border-radius: 1rem;
    background-color: green;
}

.container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    gap: 1rem;
    
}

.container > h1{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container button{
    background-color: rgb(19, 68, 218);
    color: white;
    font-size: 1rem;
    padding: 0 1rem; 
    border-radius: .2rem;
    cursor: pointer;
    border: none;
}

.container button:hover{
    background-color: rgb(37, 85, 229);
    transition: all .3s ease-in-out;
}


h3{
    font-size: 3rem;
    color: red;
}

.cant{
    position: relative;
    padding: 2rem;
}