*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    width: 100%;
    height: 100%;
    background-color: #0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1200px;
    height: 500px;
    background-color: rgb(36, 36, 39);
    border-radius: 1rem;
    overflow: hidden;
}
.top-container{
    width: 100%;
    height: 50%;
    background-color: #040205;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.top-container>h2{

    height: fit-content;
    font-size: 5rem;
    padding-inline: .6rem;
    color: #7B7B7B;
}
.piano-buttons{
    width: 100%;
    height: 100%;
    background-color: #323232;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: .2rem;
    padding: 2rem .5rem;
}

.p-btn{
    padding: 3rem .1rem;
    width: 40px;
    height: 100%;
    background-color: #ffff;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.p-btn:hover{
    background-color: rgb(214, 212, 212);
    cursor: pointer;
    transition: all .3s ease-in;
}
.container >button{
    padding: 1rem 2rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    border: none;
    cursor: pointer;
}
.container >button:hover{
    background-color: aliceblue;
}
