*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.all-reels{
    width: 500px;
    height: 100%;
    margin: auto;
    overflow-x:hidden;
    scroll-snap-type: y mandatory;
}

::-webkit-scrollbar{
        display: none;
    }

.reels{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.top{
    width: 100%;
    height: 100%;
}
video{
    width: 100%;
    height: 100%;
}
.bottom{
    width: 100%;
    height: 20%;
    background: linear-gradient(transparent,#000000);
    position: absolute;
    bottom: 0;
    padding: 10px;
    display:  flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    color: #0000;
    padding-inline: 3rem;
}
.inner{
    display:  flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: .5rem;

}
.inner>h2{
    font-size: .7rem;
    
}
.proflie{
    width: 50px;
    height: 50px;

}
.proflie>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.follow p{
    font-size: 1rem;
    padding: .2rem .7rem;
    border: .1rem solid white;
    width: fit-content;
    color: white;
    border-radius: .2rem;
}
.decription p{
    font-size: 1.3rem;
    color: #ffff;
    padding-inline: .5rem;
}
.sidebar{
    width: 50px;
    /* height: 50%; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
    position: absolute;
    right: 9%;
    color: #ffff;
    background: linear-gradient(transparent,#00000020);
    overflow: hidden;

}
.sidebar i{
    font-size: 1.4rem;
}
.likes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.shares{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}