*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    flex-wrap: wrap;

}
.card{
    width: 250px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    padding: 10px;
}
.card >img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
}
.card h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card h2{
    font-size: 1rem;
    font-weight: 700;
    color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card p{
    font-size: .9rem;
    text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}