*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html,body{
    height: 100%;
    width: 100%;
}


:root{
    --pri:#fff;
    --sec:#111;
    --tri:lightseagreen;
}


@font-face {
    font-family: AeonikBold;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
@font-face {
    font-family: AeonikRegular;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
main{
    width: 100%;
    height: 100%;
    background-color: var(--sec);
}

