*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

@property --rotate{ 
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
   scale: 1;
   

}
.box:hover{
    background: linear-gradient(black) padding-box,
     conic-gradient(from var(--rotate), black , goldenrod ,black) border-box;
    border : 5px solid rgba(255, 255, 255, 0);
    animation: glowBorderEffect .8s ease  infinite;
    scale: 1.1;
    box-shadow: 0 0 40px goldenrod;
     transition: all .3s ease;
     cursor: pointer;
}
.box:hover h1, .box:hover p{
    color: goldenrod;
    text-shadow: 0 0 5px goldenrod;

}

.box img{
    width: 100%;
}

@keyframes glowBorderEffect{
   from{
    --rotate : 0deg;
   }
   to{
    --rotate:360deg;
   }
    
}

